* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    -webkit-animation: color-change-2x 2s linear infinite alternate both;
    animation: color-change-2x 2s linear infinite alternate both;
}